<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/homepage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/homepage.js" defer></script>
    <html xmlns:th="http://www.thymeleaf.org"></html>
    <title>Document</title>
</head>
   
    <!-- NAVBAR -->
   <div class="navbar" th:fragment="navbar">

      <div class="left">
        <div class="logo-box"><img id="logo" src="/images/logo.png" alt="logo"></div>
        <span id="store-text"></span>
            <div class="store-box">
                <img id="store-icon" src="/images/store.png"> <span id="store-text">Store</span>
            </div>
            <div class="library-box">
                <img id="library-icon" src="/images/controller.png"> <span id="library-text">Library</span>
            </div>
    </div>

    <div class="center">
        <input type="text" id="search-bar" placeholder="search">
    </div>

    <div class="right">
        <button id="publish-btn"> <span id="publish-icon"> + </span>  <span id="publish-text" > Publish Game </span> </button> 
        <img id="inventory-icon" src="/images/inventory.svg"> 
        <img id="shopping-cart-icon" src="/images/shoppingcart.png">
        
        
            <div th:if="${loggedIn}" class="profile-box"> 

                <div class="profile-text" th:text="${userInfo.username}"> </div>

                <div class="profile-options">
                    <button id="logout-btn">Logout</button>
                    <button id="payment-history-btn">Payment History</button>
                </div>

            </div>                  

            <div th:if="${loggedIn}" class="arrow-box"> <img id="arrow-img" src="/images/arrow-down.png"> </div>

            <h1 th:unless="${loggedIn}" id="not-logged-text"><a id="not-logged-text" href="/auth">Click Here to Login/SignUp </a> </h1>

    </div>

  </div>

    <!-- PAGE CONTENT -->
    <div class="container">

        <div>
            <img id="image-banner" src="/images/banner.png">  <!-- replace with acrtual image -->
        </div>
    
        <div class="genre-box">
            <div class="genre-card"><img id="genre-icon" src="/images/horror-genre.svg" alt="horror genre"> <span id="horror-title"> horror </span> </div>
            <div class="genre-card"><img id="genre-icon" src="/images/action_genre.svg" alt="action genre"><span id="action-title"> action </span></div>
            <div class="genre-card"><img id="genre-icon" src="/images/adventure_genre.svg" alt="adventure genre"><span id="adventure-title"> adventure </span></div>
            <div class="genre-card"><img id="genre-icon" src="/images/casual_genre.svg" alt="casual genre"><span id="casual-title"> casual </span></div>
            <div class="genre-card"><img id="genre-icon" src="/images/strategy_genre.svg" alt="strategy genre"><span id="strategy-title"> strategy </span></div>
            <div class="genre-card"><img id="genre-icon" src="/images/shooter_genre.svg" alt="shooter genre"><span id="shooter-title"> shooter </span></div>
            <div class="genre-card"><img id="genre-icon" src="/images/sports_genre.svg" alt="sports genre"><span id="sports-title"> sports </span></div>
            <div class="genre-card"><img id="rpg-icon" src="/images/rpg_genre.svg" alt="rpg genre"><span id="rpg-title"> rpg </span></div>
        </div>

        
        
        

    </div>
    
<script th:fragment="navbar" th:inline="javascript">
    const loggedIn = /*[[${loggedIn}]]*/ false;
</script>
</html>