<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/login_signup.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/login_signup.js" defer></script>
    <title>login_signup</title>
</head>
<body>
    
    <div id="container">
        <img id="logo" src="/images/logo.png">
        <div id="header-div">
            <h1 id="header-text">ready to explore? log in or sign </h1>
            <div id="buttons-container">
                <button id="login">Login</button>
                <button id="sign-up">Sign up</button>
            </div>
        </div>
    </div>
</body>
</html>