<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/signup.css">
    <script src="/js/signup.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div id="container">

        <img id="logo" src="/images/logo.png">

        <div id="signup-div">
            <h1 id="header-text">sign up</h1>

            <input type="text" id="email-signup" placeholder=" email">

            <input type="text" id="username-signup" placeholder=" User Name">
        
            <input type="password" id="password-signup" placeholder=" Enter password">

            <button id="signup-btn">Sign Up</button>

            <span id="footer-txt">already have an account? <a id="footer-link" href="/login"> log in</a></span>
        </div>
    </div>
</body>
</html>