<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/userOrAdmin.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/userOrAdmin.js" defer></script>
    <title>userOrAdmin</title>
</head>
<body>
    
    <div id="container">

        <img id="logo" src="/images/logo.png">

        <div id="header-div">
            <h1 id="wellcome"> Wellcome Back! </h1>
            <h1 id="header-text">Please select your role to get started. </h1>
            <div id="buttons-container">
                <button id="user">User</button>
                <button id="admin">Admin</button> 
            </div>
        </div> 
    </div>
</body>
</html>